body{
    color: #40514E;
    background-color: #FFFDE3;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #C21010;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #C21010;
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: 0;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #E64848;
}
p{
    line-height: 2;
}
hr{
    border: dotted #FF8080 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
a{
    color: #40514E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color:#a7a7a7;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 600px;
}
.intro{
    width: 30%;
    margin: auto;
}
.top-container{
    background-color: #CFE8A9;
    padding-top: 100px;
}
.middle-container{
    margin: 100px 0;
}
.bottom-container{
    background-color: #CFE8A9;
    padding: 50px 0 16px;
}
.code-img{
    height: 18%;
    width: 18%;
    float: left;
    margin-right: 5%;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.tenis-img{
    height: 18%;
    width: 18%;
    float: right;
    margin-right: 5%;
}
.contact-message{
    width: 35%;
    margin: 40px auto 60px;
}
.btn {
    background: #e81515;
    background-image: -webkit-linear-gradient(top, #e81515, #b00c0c);
    background-image: -moz-linear-gradient(top, #e81515, #b00c0c);
    background-image: -ms-linear-gradient(top, #e81515, #b00c0c);
    background-image: -o-linear-gradient(top, #e81515, #b00c0c);
    background-image: linear-gradient(to bottom, #e81515, #b00c0c);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #e82525;
    background-image: -webkit-linear-gradient(top, #e82525, #cf2727);
    background-image: -moz-linear-gradient(top, #e82525, #cf2727);
    background-image: -ms-linear-gradient(top, #e82525, #cf2727);
    background-image: -o-linear-gradient(top, #e82525, #cf2727);
    background-image: linear-gradient(to bottom, #e82525, #cf2727);
    text-decoration: none;
  }